<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.app.timecard"
    android:versionCode="3"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="14" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
    <application
        android:icon="@drawable/clock2"
        android:label="@string/app_name" >
        <activity
            android:name=".TimeCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".TimeCardWidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        
        <service android:name=".TimeCardWidgetService">
            <intent-filter>
                <action android:name="my.app.timecard.UP" />
                <action android:name="my.app.timecard.DOWN" />
                <action android:name="my.app.timecard.MOVE_START" />
                <action android:name="my.app.timecard.MOVE_FINISH" />
            </intent-filter>
        </service>
        
    </application>

</manifest>